.city-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: rem(12) 0;
    width: 100%;
    flex-direction: row;
    background: none;

    img {
        width: rem(48);
        height: rem(48);
        padding-right: rem(10);
    }

    input {
        width: 100%;
        height: rem(56);
        color: $col-gray-400;
        background: $col-gray-600;
        border: none;
        border-radius: rem(12);
        padding-left: rem(16);
        outline: none;
        font-size: rem(14);

        @include media-breakpoint-up(lg) {
            font-size: rem(18);
        }
    }

    .suggestions {
        position: absolute;
        top: 116%;
        left: 0;
        width: 100%;
        max-height: rem(224);
        overflow-y: auto;
        background: $col-gray-600;
        border-radius: rem(12);
        border-top: none;
        box-shadow: 0 rem(2) 5px rgba(0, 0, 0, 0.1);
        z-index: 1;
        padding: 0;

        @include media-breakpoint-up(lg) {
            width: 90%;

            &::-webkit-scrollbar {
                width: rem(8);
                background: $col-gray-800;
            }
        }

        li {
            list-style: none;
            padding: rem(10);
            cursor: pointer;
            color: $col-gray-400;
            padding-left: rem(14);

            &:hover {
                color: $col-gray-100;
                background: $col-gray-800;
            }
        }
    }

    .temp-toggle {
        width: rem(56);
        height: rem(56);
        border-radius: rem(14);
        border: none;
        background: $col-gray-600;
        color: $col-gray-100;
        margin-left: rem(12);
    }
}