.weather-more-info {
    margin: 12px 0;
    padding: 14px;
    background: $col-gray-600;
    color: $col-gray-100;

    @include media-breakpoint-up(lg) {
        height: 385px;
    }

    .weather-info-fields {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $col-gray-800;
        width: 100%;
        height: 56px;

        &:last-child {
            border-bottom: none;
        }

        @include media-breakpoint-up(lg) {
            height: 76px;
        }

        .detail-text {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-left: 12px;
            align-items: center;

            @include media-breakpoint-up(lg) {
                .head-text {
                    color: $col-gray-400;
                }
            }
        }
    }
}