.weather-more-info {
    margin: rem(12) 0;
    padding: rem(14);
    background: $col-gray-600;
    color: $col-gray-100;

    @include media-breakpoint-up(lg) {
        height: rem(385);
    }

    .weather-info-fields {
        display: flex;
        align-items: center;
        border-bottom: rem(1) solid $col-gray-800;
        width: 100%;
        height: rem(56);

        &:last-child {
            border-bottom: none;
        }

        @include media-breakpoint-up(lg) {
            height: rem(76);
        }

        .detail-text {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-left: rem(12);
            align-items: center;

            @include media-breakpoint-up(lg) {
                .head-text {
                    color: $col-gray-400;
                }
            }
        }
    }
}